name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo:6
        ports:
          - 27017:27017
        options: >-
          --health-cmd "mongosh --eval 'db.runCommand({ ping: 1 })'"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Create .env file
        run: |
          echo "PORT=5000" >> .env
          echo "JWT_SECRET=testsecret" >> .env
          echo "MONGO_URI=mongodb://localhost:27017/testdb" >> .env
          
      - name: Install mongosh
        run: |
          curl -fsSL https://pgp.mongodb.com/server-6.0.asc | sudo gpg -o /usr/share/keyrings/mongodb-server-6.0.gpg --dearmor
          echo "deb [ signed-by=/usr/share/keyrings/mongodb-server-6.0.gpg ] https://repo.mongodb.org/apt/ubuntu focal/mongodb-org/6.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-6.0.list
          sudo apt-get update
          sudo apt-get install -y mongodb-mongosh
      - name: Wait for MongoDB
        run: sleep 15
        
      - name: Install MongoDB tools
        run: sudo apt-get update && sudo apt-get install -y mongodb-clients

      - name: Test DB connection
        run: |
          echo "Testing MongoDB connection..."
          mongosh "mongodb://localhost:27017/testdb" --eval "db.test.insertOne({ ok: true })"

      - name: Run Node app check
        run: node app.js &